<!-- <nav>
  <div class="title">
    <p>Dashboards > Orders</p>
  </div>
  <div class="nav-menu">
  
    <div class="notificationIcon">
      <img [src]="notificationIcon" alt="" />
    </div>
  
    <div class="profile-style">
      <div class="profile">
        <img [src]="imageUrl" alt="" />
      </div>
      <div>
        <p>Samuel Ekuma</p>
      </div>
    </div>
  </div>
  <div></div>
</nav> -->

<header>
  <div>
    <p>Dashboards > Orders</p>
  </div>

  <div class="nav-menu">
    <div class="icon">
      <img [src]="notificationIcon" alt="" />
    </div>
    <div class="profile">
      <img [src]="imageUrl" alt="" />
    </div>
  </div>
</header>
